<div class="jumbotron" >
<h1>Add a word!</h1>
</div>
<form action="/success" method="post">
  <!-- <input id='word_id' name='word_id' type="hidden" value='<%=  %>' -->
    <label for="word_entry"> Enter a word:</label>
    <input name="word_entry" type="text">
    <br>
   <button type="submit" class="btn">add it!</button>


</form>
