<div class="jumbotron">
  <h1>The definitions of <%= @words.word_entry() %>!</h1>
</div>
<h3>If there are no definitions availble add them below!</h3>
<ol>
</ol>
<form  action="/words/view/:id/defined" method="post">
  

</form>
<br>
<a href="/">home</a>
